@use "global/" as *;

.u-clearfix {

  &::after {
    content: "" $important;
    display: block $important;
    clear: both $important;
  }

  &::before {
    content: "" $important;
    display: block $important;
    clear: both $important;
  }

  display: block $important;
}
