<%
var modifier;
if (modifier[0] === '--icon01' ) { %>

  <a href="https://dmrotyvp.jbplt.jp/" class="c-button c-button<%= modifier[0] %> c-button<%= modifier[1] %>" href="">採用情報</a>

<% } else { %>

  <a href="https://dmrotyvp.jbplt.jp/" class="c-button c-button--test c-button--sm" href="">採用情報</a>

<% } %>
