<section class="l-contact p-contact">
  <div class="p-contact__inner l-inner">
    <div class="p-contact__title c-section-header">
      <h2 class="c-section-header__engtitle"></h2>
      <p class="c-section-header__jatitle"></p>
    </div>
    <div class="p-contact__contents">
      <div class="p-contact__text-block">
        <p class="p-contact__text"></p>
      </div>
      <div class="p-contact__btn">
        <a href="<%= path %>contact" class="c-button">more</a>
      </div>
    </div>
  </div>
</section>
