<% for (var i = 0; i < 4; i++) { %>

<li class="p-menus-sec__item">
  <div class="p-menus-sec__img">
    <img width="3" height="2" loading="lazy" decoding="async" src="<%= path %>assets/images/common/dummy_menu01.png.webp" alt="◯◯" />
  </div>
  <div class="p-menus-sec__body">
    <h3 class="p-menus-sec__title-lv3">春の旬三昧</h3>
    <p class="p-menus-sec__price">420円(税込462円)</p>
    <p class="p-menus-sec__text">マスと真鯛、釜揚げしらすと旬が揃った３貫盛り</p>
  </div>
</li>

<% } %>
