<% for (var i = 0; i < 4; i++) { %>

  <li class="p-menus-sec__item">
    <div class="p-menus-sec__img">
      <img width="16" height="9" loading="lazy" decoding="async" src="<%= path %>assets/images/common/dummy_menu02.jpg.webp" alt="◯◯ランチ" />
    </div>
    <div class="p-menus-sec__body">
      <h3 class="p-menus-sec__title-lv3">限定ランチ</h3>
      <p class="p-menus-sec__price">500円(税込550円)</p>
      <dl class="p-menus-sec__defi-list">
        <dt class="p-menus-sec_term">◆セット内容</dt>
        <dd class="p-menus-sec__desc">
          ・握り（8貫）<br>
          ・みそ汁（日替り）<br>
          ※1日20食限定
        </dd>
      </dl>
    </div>
  </li>

<% } %>
