
<%_ if(pageMeta.name === 'home' ) { _%>
  <% for (var i = 0; i < 3; i++) { %>
<div class="p-news__item p-news-content">
  <div class="p-news-content__meta">
    <time datetime="2022-03-04" class="p-news-content__date">2022.3.1</time>
    <p class="p-news-content__category">タイトル</p>
  </div>
  <div class="p-news-content__link">
    <a href="<%= path %>news/news01" class="p-news-content__text">ダミーテキスト</a>
  </div>
</div>
<% } %>

<%_ }else if(pageMeta.name === 'news' ){ _%>

  <% for (var i = 0; i < 10; i++) { %>
    <div class="p-news__item p-news-content">
      <div class="p-news-content__meta">
        <time datetime="2022-03-04" class="p-news-content__date">2022.3.1</time>
        <p class="p-news-content__category">タイトル</p>
      </div>
      <div class="p-news-content__link">
        <a href="<%= path %>news/news01" class="p-news-content__text">ダミーテキスト</a>
      </div>
    </div>
    <% } %>

<%_ } _%>
