<% for (var i = 0; i < 4; i++) { %>

  <li class="p-takeout-sec03__item">
    <div class="p-takeout-sec03__img">
      <img width="41" height="25" loading="lazy" decoding="async" src="<%= path %>assets/images/common/dummy_takeout01.png.webp" alt="◯◯ランチ" />
    </div>
    <div class="p-takeout-sec03__body">
      <h3 class="p-takeout-sec03__title-lv3">限定ランチ</h3>
      <p class="p-takeout-sec03__price">500円(税込550円)</p>
      <p class="p-takeout-sec03__size">
        5～6人前 54貫<br>
        5～6人前 54貫<br>
        5～6人前 54貫<br>
        5～6人前 54貫
      </p>
      <dl class="p-takeout-sec03__defi-list">
        <dt class="p-takeout-sec03_term">◆内容</dt>
        <dd class="p-takeout-sec03__desc">
          サーモン・イカ・むしえび・たこの頭・まぐろ・甘エビ・ぶり・穴子・ホッキ貝・ネギトロ・サーモン・イカ・むしえび・たこの頭・まぐろ・甘エビ・ぶり・穴子・ホッキ貝・ネギトロ
        </dd>
      </dl>
    </div>
  </li>

<% } %>
