  <% for (var i = 0; i < 6; i++) { %>

    <article class="swiper-slide p-top-news__item">
      <a href="<%= path %>news/news01">
        <div class="p-top-news__img">
          <img width="3" height="2" loading="lazy" decoding="async" src="" alt="">
        </div>
        <div class="p-top-news__body">
          <time class="p-top-news__date">2023.1.1</time>
          <p class="p-top-news__text">タイトル</p>
        </div>
      </a>
    </article>

<% } %>
