
<%_ if(pageMeta.name === 'work' ) { _%>
  <% for (var i = 0; i < 6; i++) { %>
<div class="p-archive-works__item">
  <div class="p-archive-works__img">
    <img src="<%= path %>assets/images/common/works_1.jpg" alt="" />
  </div>
  <div class="p-archive-works__title">
    <h2 class="p-archive-works__name">Smoothiesta 様</h2>
  </div>
</div>
<% } %>

<%_ }else{ _%>

  <% for (var i = 0; i < 3; i++) { %>
    <div class="p-archive-works__item">
      <div class="p-archive-works__img">
        <img src="<%= path %>assets/images/common/works_1.jpg" alt="" />
      </div>
      <div class="p-archive-works__title">
        <h2 class="p-archive-works__name">Smoothiesta 様</h2>
      </div>
    </div>
    <% } %>

<%_ } _%>
