@use 'global' as *;

.p-404-sec01 {
  padding-top: fluid-size(40, 80);
  padding-bottom: fluid-size(40, 80);
  background-color: $base-color-main;
  border-top: 1px solid $color-accent-secondary;
}

.p-404-sec01__body {
  text-align: center;
}

.p-404-sec01__text {
  font-family: $base-font-family-serif;
  font-weight: $font-weight-bold;
  font-size: fluid-size(16, 20);
  @include lh($base-line-height);
}

.p-404-sec01__small {
  margin-top: rem(8);
}

.p-404-sec01__small small {
  font-family: $base-font-family-serif;
  font-weight: $font-weight-bold;
  font-size: fluid-size(12, 14);
  @include lh($base-line-height);
}
