@use 'global' as *;

.p-footer-nav {
  margin-top: rem(32);
  @include media(min, md) {
    margin-top: 0;
  }
}

.p-footer-nav__list {
  gap: rem(24);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-footer-nav__item {
  line-height: $line-height-none;
}

.p-footer-nav__item a {
  color: $color-white;
  font-size: rem(14);
  font-weight: $font-weight-bold;
  font-family: $base-font-family-serif;
}
