@use 'global' as *;

.p-initiatives-sec02 {
  background-color: $base-color-main;
}

.p-initiatives-sec02__title-lv3-wrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: fluid-size(20, 24);
  border-bottom: 1px solid $color-accent-secondary;
  padding-bottom: rem(16);
}

.p-initiatives-sec02__title-lv2 {
  font-weight: $font-weight-bold;
  font-size: fluid-size(16, 20);
  font-family: $base-font-family-serif;
  @include lh($line-height-md);
}

.p-initiatives-sec02__text-wrwp {
}

.p-initiatives-sec02__text {
  font-size: fluid-size(14, 16);
  text-align: justify;
  @include lh($line-height-md);
}

.p-initiatives-sec02__img-wrap {
  margin-top: fluid-size(16, 32);
  display: flex;
  justify-content: center;
  gap: fluid-size(16, 24);
}
