@use 'global' as *;

.p-kodawari-lead {
  text-align: left;
  text-align: justify;
  background-color: $base-color-main;
  @include media(min, md) {
    text-align: center;
  }
}

.p-kodawari-lead__text {
  font-size: rem(14);
}
