@use 'global' as *;

.p-kodawari-pr-area {
  background-color: $base-color-main;
}

.p-kodawari-pr-area--bg01,
.p-kodawari-pr-area--bg02 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('#{$pathImages}/common/bg12.png');
  @include media(min, md) {
    background-size: contain;
  }
}

.webp .p-kodawari-pr-area--bg01,
.webp .p-kodawari-pr-area--bg02 {
  background-image: url('#{$pathImages}/common/bg12.png.webp');
}
