@use 'global' as *;

.p-menus-nav {
  @include media(max, md) {
    display: none;
  }
}

.p-menus-nav__inner {
}

.p-menus-nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: fluid-size(8, 16);
}

.p-menus-nav__item {
  text-align: center;

  a {
    font-family: $base-font-family-serif;
    color: $color-black;
    line-height: $line-height-none;
    font-weight: $font-weight-bold;
    background-color: #f5f2ef;
    display: block;
    padding: fluid-size(8, 24) 0;
    font-size: fluid-size(12, 16);
    border: 3px solid $color-accent-secondary;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      background: url('#{$pathImages}/common/icon03.svg') no-repeat;
      background-size: cover;
      vertical-align: middle;
      left: 50%;
      bottom: rem(8);
      transform: translateX(-50%);
      position: absolute;
      aspect-ratio: 7 / 3;
      width: rem(14);
    }

    &::after {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: rem(2);
      border: 1px solid $color-accent-secondary;
    }
  }
}
