@use 'global' as *;

.p-news-single-mv {
  background-color: $base-color-main;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  height: fluid-size(200, 360);
  background-image: url('#{$pathImages}/common/bg12.png');
}

.p-news-single-mv__title {
  padding-top: fluid-size(16, 80);
}

.webp .p-news-single-mv {
  background-image: url('#{$pathImages}/common/bg12.png.webp');
}
