@use 'global' as *;

.p-news-single-content p,
.p-news-single-content h2,
.p-news-single-content h3,
.p-news-single-content h4,
.p-news-single-content h5,
.p-news-single-content h6,
.p-news-single-content ul,
.p-news-single-content ol,
.p-news-single-content figure,
.p-news-single-content .wp-block-buttons,
.p-news-single-content details,
.p-news-single-content .wp-block-verse,
.p-news-single-content .wp-block-file,
.p-news-single-content .wp-block-media-text {
  margin-top: rem(40);
}

.p-news-single-content p {
  font-size: rem(14);
  @include lh($base-line-height);
}

.p-news-single-content h2 {
  padding-left: rem(15);
  font-size: rem(18);
  position: relative;
  line-height: $line-height-sm;
  @include lh($line-height-sm);

  &::before {
    content: '';
    position: absolute;
    width: rem(4);
    height: 100%;
    background-color: $color-accent-secondary;
    top: .2em;
    left: rem(-3);
  }
}

.p-news-single-content h3 {
  font-size: rem(16);
  position: relative;
  line-height: $line-height-sm;
  @include lh($line-height-sm);
}

.p-news-single-content a {
  text-decoration: underline;
  color: $color-accent-secondary;
  @include hover {
    text-decoration: none;
  }
}
