@use 'global' as *;

.p-osusume-bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: map-get($layer, 'default');
}

.p-osusume-bg__after {
  content: '';
  position: absolute;
  z-index: map-get($layer, 'decoration');
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
