@use 'global' as *;

$menu-gap: 32px;

.p-osusume-sec {
  &:first-of-type {
    content-visibility: auto;
    contain-intrinsic-size: 500px;
  }
}

.p-osusume-sec__title-lv2-wrap {
  border-top: 2px solid $color-accent-secondary;
  border-bottom: 2px solid $color-accent-secondary;
  padding: fluid-size(16, 18);
  position: relative;
  background-image: url('#{$pathImages}/common/bg01.svg');
  background-repeat: repeat;
  z-index: map-get($layer, 'default');

  &::after {
    content: '';
    position: absolute;
    z-index: map-get($layer, 'decoration');
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(213, 139, 139, 0), rgba(28, 12, 12, 1));
  }
}

.p-osusume-sec__title-lv2 {
  font-size: fluid-size(20, 24);
  font-weight: $font-weight-bold;
  font-family: $base-font-family-serif;
  line-height: $line-height-none;
}

.p-osusume-sec__list {
  margin-top: fluid-size(16, 24);
  margin-bottom: fluid-size(40, 80);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: fluid-size(24, 32);

  @include media(min, md) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
  }
}

.p-osusume-sec__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
}

.p-osusume-sec--primary .p-osusume-sec__list {
  margin-top: rem(24);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: fluid-size(24, 32);

  @include media(min, md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-osusume-sec--primary .p-osusume-sec__img {
  aspect-ratio: 4 / 3;
}

.p-osusume-sec--secondary .p-osusume-sec__list {
  margin-top: rem(24);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: fluid-size(32, 48);

  @include media(min, md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-osusume-sec--secondary .p-osusume-sec__img {
  aspect-ratio: 16 / 9;
}

.p-osusume-sec__title-lv3 {
  font-family: $base-font-family-serif;
  margin-top: rem(16);
  font-weight: $font-weight-bold;
  @include lh($base-line-height);
}

.p-osusume-sec__price {
  font-family: $base-font-family-serif;
  margin-top: rem(8);
  font-weight: $font-weight-bold;
  @include lh($base-line-height);
}

.p-osusume-sec__text {
  margin-top: rem(8);
  font-size: rem(12);
  @include lh($base-line-height);
}

.p-osusume-sec__defi-list {
  margin-top: rem(8);
  @include lh($base-line-height);
}

.p-osusume-sec_term {
  font-size: rem(12);
}

.p-osusume-sec__desc {
  font-size: rem(12);
}
