@use "global" as *;

.p-page-contact__text {
  font-size: rem(15);
  letter-spacing: .05em;
  font-weight: 300;
  text-align: center;

  @include media(min,md) {
    font-size: rem(16);
  }
}

.p-page-contact__content {
  margin-top: rem(30);
  padding: rem(30);
  background-color: #f7f7f7;

  @include media(min,md) {
    margin-top: rem(40);
    padding: rem(90);
  }
}
