@use 'global' as *;

.p-store-sec04 {
  background-color: $base-color-main;
}

.p-store-sec04__title-lv2-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: fluid-size(20, 24);
}

.p-store-sec04__title-lv2-wrap--line {

  &::after {
    content: '';
    display: block;
    width: rem(56);
    margin-top: rem(16);
    bstore-top: 4px solid $color-accent-secondary;
  }
}

.p-store-sec04__title-lv2 {
  font-weight: $font-weight-bold;
  font-size: fluid-size(20, 24);
  @include lh($base-line-height);
}

.p-store-sec04__title-lv2--sans {
  font-family: $base-font-family-sans;
}

.p-store-sec04__title-lv2--serif {
  font-family: $base-font-family-serif;
}

.p-store-sec04__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(32);

  @include media(min, md) {
    flex-direction: row;
  }
}

.p-store-sec04__list {
  flex: 1 1 0%;
}

.p-store-sec04__title-lv3-wrap {
  text-align: center;
  margin-bottom: rem(16);
}

.p-store-sec04__title-lv3 {
  font-family: $base-font-family-serif;
  font-weight: $font-weight-bold;
  font-size: fluid-size(18, 20);
  line-height: $line-height-none;
}
