@use 'global' as *;

.p-store-sec03 {
  background-color: $base-color-main;
}

.p-store-sec03__inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  @include margin-auto;

  @include media(min, md) {
    padding-right: 32px;
    padding-left: 32px;
    max-width: $layout-width-inner-min + strip-unit(32px) * 2;
  }
}

.p-store-sec03__title-lv2-wrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: fluid-size(20, 24);
  @include media(min, md) {
    margin-right: -16px;
    margin-left: -16px;
  }
}

.p-store-sec03__title-lv2-wrap--line {

  &::after {
    content: '';
    display: block;
    width: 40px;
    margin-top: 20px;
    bstore-top: 1px solid;
  }
}

.p-store-sec03__title-lv2-wrap--under-line {
  border-bottom: 1px solid $color-accent-secondary;
  padding-bottom: rem(16);
}

.p-store-sec03__title-lv2 {
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  font-size: rem(20);
}

.p-store-sec03__title-lv2--serif {
  font-family: $base-font-family-serif;
}

.p-store-sec03__title-lv2--sans {
  font-family: $base-font-family-sans;
}

.p-store-sec03__body {
}

.p-store-sec03__item {
  display: grid;
  gap: fluid-size(16, 32);
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;

  @include media(min, md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-store-sec03__unit {
  margin-top: rem(32);

  &:first-of-type {
    margin-top: 0;
  }
}

.p-store-sec03__item01 {
  display: flex;
  flex-direction: column;
  gap: fluid-size(24, 32);
  @include media(min, md) {
    flex-direction: row;
  }
}

.p-store-sec03__img {
  flex: 0 0 47%;
}

.p-store-sec03__img img {
  width: 100%;
}

.p-store-sec03__content {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
}

.p-store-sec03__text {
  text-align: justify;
  font-size: rem(14);
}

.p-store-sec03__item02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(32);

  @include media(min, md) {
    flex-direction: row;
  }
}

.p-store-sec03__list02 {
  flex: 1 1 0%;
}

.p-store-sec03__title-lv3-wrap {
  border-bottom: 1px solid $color-accent-secondary;
  padding-bottom: rem(16);
  margin-bottom: rem(16);
  text-align: left;
}

.p-store-sec03__title-lv3 {
  font-size: rem(14);
  font-family: $base-font-family-serif;
  font-weight: $font-weight-bold;
}

.p-store-sec03__item03 {
  display: flex;
  justify-content: space-between;
  gap: rem(16);
  margin-top: fluid-size(24, 48);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: rem(24);

  @include media(min, md) {
    overflow-x: visible;
    padding-bottom: 0;
  }
}

.p-store-sec03__figure {
  flex: 0 0 fluid-size(160, 320);
  scroll-snap-align: start;

  @include media(min, md) {
    scroll-snap-align: none;
    flex: 0 1 auto;
  }
}

.p-store-sec03__caption {
  font-size: rem(14);
  margin-top: rem(16);
  line-height: $line-height-none;
}

.p-store-sec03__map {
  max-width: 992px;
  min-height: 300px;
  height: 70svh;
  @include margin-auto;

  @include media(min, md) {
    aspect-ratio: 62 / 25;
    height: auto;
  }
}

.p-store-sec03__map iframe {
  width: 100%;
  height: 100%;
}
