@use '../global' as *;

.p-top-menu-cat {
}

.p-top-menu-cat__inner {
}

.p-top-menu-cat__list {
  display: flex;
  justify-content: center;
  gap: fluid-size(16, 150);
}

.p-top-menu-cat__item {

  &:nth-of-type(2) {
    margin-top: fluid-size(48, 70);
  }

  &:nth-of-type(3) {
    margin-top: fluid-size(96, 140);
  }

  & img {
    height: auto;
    max-width: 160px;
    width: 100%;
  }
}
