@use 'global' as *;

.p-top-initiatives {
  position: relative;
  z-index: map-get($layer, 'default');
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: fluid-size(48, 80);
  width: 100%;

  @include media(min, md) {
    flex-direction: row-reverse;
  }

  @include media(min, lg) {
    width: calc((100vw + #{$layout-width-inner}) / 2);
  }
}

.p-top-initiatives__body {
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  flex-grow: 1;

  @include media(min, md) {
    padding-right: 0;
    padding-left: rem(48);
  }
}

.p-top-initiatives__title {
  font-size: fluid-size(20, 32);
  font-weight: $font-weight-bold;
  font-family: $base-font-family-serif-Vt;
  color: $color-white;
  writing-mode: vertical-rl;
  text-align: center;
  position: relative;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  @include margin-auto;

  &::before {
    background: url('#{$pathImages}/title_pr.svg');
    position: absolute;
    content: '';
    z-index: map-get($layer, 'decoration');
    position: absolute;
    right: 50%;
    top: 0;
    left: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(50%);
    width: fluid-size(126, 210);
    aspect-ratio: 1 / 1;
  }
}

.p-top-initiatives__text {
  font-size: rem(14);
  color: $color-white;
  text-align: justify;
  font-family: $base-font-family-serif;
  line-height: $line-height-md;
  margin-top: rem(48);
  @include lh($line-height-md);
}

.p-top-initiatives__link {
  margin-top: rem(56);
}

.p-top-initiatives__link a {
  font-size: fluid-size(12, 16);
  font-family: $base-font-family-serif;
  line-height: $line-height-none;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    width: rem(40);
    height: rem(12);
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
    transition: width $base-duration $base-timing;
  }

  @include hover {
    &::after {
      width: rem(50);
    }
  }
}

.p-top-initiatives__img {
  width: 100%;
  flex-shrink: 0;

  @include media(min, md) {
    width: 64%;
  }
}

.p-top-initiatives__img img {
  width: 100%;
  height: auto;
}
