@use 'global' as *;

$title-width: 288px;
$spacing: 120px;
$calc-width: $layout-width-canvas + strip-unit($padding-pc) * 2;

.p-top-osusume {
  padding-bottom: fluid-size(60, 120);
  width: 100%;
  padding-left: rem($spacing);
  padding-right: $padding-sp;
  @include margin-auto;

  @include media(min, md) {
    padding-right: calc((100% - $calc-width) / 2);
  }
}

.p-top-osusume__body {
  flex-direction: row;
  display: flex;
  gap: fluid-size(32, 80, 'xxl');
}

.p-top-osusume__img {
  margin-left: rem(-$spacing);
  aspect-ratio: 16 / 10;
  width: 100%;
  margin-right: 0;
  position: relative;

  @include media(min, md) {
    aspect-ratio: 16 / 8;
  }
}

.p-top-osusume__img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: $base-radius;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-top-osusume__title {
  // display: flex;
  // justify-content: center;

  @include media(min, md) {
    width: rem($title-width);
  }
}

.p-top-osusume__link--pc {
  display: none;
  margin-top: rem(56);

  @include media(min, md) {
    display: block;
  }
}

.p-top-osusume__link--sp {
  margin-top: rem(32);
  display: block;
  margin-left: rem(-$spacing);
  padding-left: $padding-sp;
  @include media(min, md) {
    display: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.p-top-osusume__link a {
  font-size: fluid-size(12, 16);
  font-family: $base-font-family-serif;
  line-height: $line-height-none;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    width: rem(40);
    height: rem(12);
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
    transition: width $base-duration $base-timing;
  }

  @include hover {
    opacity: 1;

    &::after {
      width: rem(50);
    }
  }
}

.p-top-osusume__link.p-top-osusume__link--2line.p-top-osusume__link--pc a {
  line-height: $line-height-md;

  &::after {
    margin-top: fluid-size(17, 27);
  }
}
