@use 'global' as *;

.p-takeout-sec03__title-lv2-wrap {
  background: linear-gradient(180deg, rgba(28, 12, 12, 0), rgba(28, 12, 12, 1));
  border-top: 2px solid $color-accent-secondary;
  border-bottom: 2px solid $color-accent-secondary;
  padding: fluid-size(16, 18) 0;
}

.p-takeout-sec03__title-lv2 {
  font-size: fluid-size(20, 24);
  font-weight: $font-weight-bold;
  font-family: $base-font-family-serif;
  line-height: $line-height-none;
}

.p-takeout-sec03__title-lv2--left {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include margin-auto;

  @include media(min, md) {
    max-width: $layout-width-inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-takeout-sec03__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: fluid-size(32, 48);
  padding-top: fluid-size(32, 48);
  padding-bottom: fluid-size(32, 48);

  @include media(min, md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-takeout-sec03__item {
  @include media(max, md) {
    border-bottom: 1px solid $color-accent-secondary;
    padding-bottom: fluid-size(32, 48);
  }
}

/// @link https://front-end-tools.com/generategradient/
/// @link https://saruwakakun.com/html-css/reference/ribbon
/// @link https://pa-tu.work/blog/ribbon-design-collection
/// 線形
/// background-image: linear-gradient(150deg, rgba(247, 166, 12, 1), rgba(255, 34, 87, 1) 0%, rgba///(181, 37, 198, 1) 0%, rgba(130, 52, 240, 1) 0%, rgba(186, 37, 190, 1) 0%, rgba(176, 38, 205, 1) 0%, rgba(154, 39, 238, 1) 0%, rgba(230, 194, 105, 1) 0%, rgba(170, 120, 44, 1));
/// }
///
/// 円形
/// background-image: radial-gradient(circle, rgba(247, 166, 12, 1), rgba(255, 34, 87, 1) 0%, rgba(181, 37, 198, 1) 0%, rgba(130, 52, 240, 1) 0%, rgba(186, 37, 190, 1) 0%, rgba(176, 38, 205, 1) 0%, rgba(154, 39, 238, 1) 0%, rgba(230, 194, 105, 1) 0%, rgba(170, 120, 44, 1));
///
/// だ円
///background-image: radial-gradient(rgba(247, 166, 12, 1), rgba(255, 34, 87, 1) 0%, rgba(181, 37, 198, 1) 0%, rgba(130, 52, 240, 1) 0%, rgba(186, 37, 190, 1) 0%, rgba(176, 38, 205, 1) 0%, rgba(154, 39, 238, 1) 0%, rgba(230, 194, 105, 1) 0%, rgba(170, 120, 44, 1));
///
.p-takeout-sec03__comment-wrap {
  margin-bottom: fluid-size(16, 24);
  background-size: 100%;
  height: auto;
  background-repeat: no-repeat;
  padding: fluid-size(8, 16) 0 fluid-size(8, 16) fluid-size(8, 16);
  aspect-ratio: 488 / 54;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.webp .p-takeout-sec03__comment-wrap {
  background-image: url('#{$pathImages}/ribbon.png.webp');
}

.no-webp .p-takeout-sec03__comment-wrap {
  background-image: url('#{$pathImages}/ribbon.png');
}

.p-takeout-sec03__comment-wrap--show {
  opacity: 1;
}

.p-takeout-sec03__comment-wrap--hide {
  opacity: 0;
}

.p-takeout-sec03__comment {
  color: #1c0c0c;
  font-family: $base-font-family-serif;
  font-size: fluid-size(16, 20);
  font-weight: $font-weight-black;
  @include lh($base-line-height);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, .1);
}

.p-takeout-sec03__img {
  aspect-ratio: 41 / 25;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
  }
}

.p-takeout-sec03__title-lv3 {
  font-family: $base-font-family-serif;
  margin-top: rem(16);
  font-weight: $font-weight-bold;
  @include lh($base-line-height);
}

.p-takeout-sec03__price {
  font-family: $base-font-family-serif;
  margin-top: rem(8);
  font-weight: $font-weight-bold;
  @include lh($base-line-height);
}

.p-takeout-sec03__size {
  font-family: $base-font-family-serif;
  margin-top: rem(8);
  font-size: rem(12);
  font-weight: $font-weight-bold;
  @include lh($base-line-height);
}

.p-takeout-sec03__text {
  margin-top: rem(8);
  font-size: rem(12);
  @include lh($base-line-height);
}

.p-takeout-sec03__defi-list {
  margin-top: rem(8);
  @include lh($base-line-height);
}

.p-takeout-sec03_term {
  font-size: rem(12);
}

.p-takeout-sec03__desc {
  font-size: rem(12);
}
