@use 'global' as *;

.p-takeout-sec04 {
  background-color: $base-color-main;
}

.p-takeout-sec04__title-lv2-wrap {
  background: linear-gradient(180deg, rgba(28, 12, 12, 0), rgba(28, 12, 12, 1));
  border-top: 2px solid $color-accent-secondary;
  border-bottom: 2px solid $color-accent-secondary;
  padding: fluid-size(16, 18) 0;
}

.p-takeout-sec04__title-lv2 {
  font-size: fluid-size(20, 24);
  font-weight: $font-weight-bold;
  font-family: $base-font-family-serif;
  line-height: $line-height-none;
}

.p-takeout-sec04__title-lv2--center {
  text-align: center;
}

.p-takeout-sec04__inner {
}

.p-takeout-sec04__body {
}
