@use 'global' as *;

.pc-nav {
}

.pc-nav__items {
  // align-items: center;
  display: flex;
  // height: inherit;
  justify-content: center;
}

// .pc-nav__item,
// .pc-nav__item a {
//   height: inherit;
// }

.pc-nav__item a {
  align-items: center;
  color: $color-white;
  display: flex;
  font-family: $base-font-family-serif-Vt;
  font-size: rem(15);
  font-weight: $font-weight-bold;
  line-height: $line-height-none;
  padding-left: rem(13);
  padding-right: rem(12);
  writing-mode: vertical-rl;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}
