@use 'global' as *;

.sp-nav {
  background-color: $base-color-main;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: rem(100) 0;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  color: $color-white;
  display: block;
  font-family: $base-font-family-serif-Vt;
  font-size: rem(15);
  font-size: rem(16);
  font-weight: $font-weight-bold;
  letter-spacing: .05em;
  line-height: 1;
  padding: rem(10) 0;
  text-align: center;
  writing-mode: vertical-rl;
}
