@use 'global' as *;

.l-menus-bnr--primary {
  padding-top: fluid-size(40, 80);
}

.l-menus-bnr--secondary {
  padding-bottom: fluid-size(40, 80);
}

.l-menus-bnr__inner {
  display: flex;
  justify-content: center;
}

.l-menus-bnr__list {
  display: flex;
  flex-flow: column;
  gap: fluid-size(24, 32);
}

.l-menus-bnr__item {
  @include media(min, md) {
    max-width: rem(516);
  }
}

.l-menus-bnr__item img {
  max-width: 100%;
  height: auto;
}
