@use 'global' as *;

.l-menus-sec {
  padding-top: fluid-size(40, 80);
  padding-bottom: 0;
  margin-bottom: -2px;

  @include media(min, md) {
    padding-bottom: fluid-size(40, 80);
    margin-bottom: 0;
  }
}

.l-menus-sec:last-of-type {
  @include media(max, md) {
    padding-bottom: fluid-size(40, 80);
  }
}

.l-menus-sec:not(.l-menus-sec--bg) + .l-menus-sec:not(.l-menus-sec--bg) {
  padding-top: 0;
}
