@use 'global' as *;

.l-news-archive {
}

.l-news-archive__inner {
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include margin-auto;

  @include media(min, md) {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    max-width: $layout-width-tab + strip-unit($padding-pc) * 2;
  }
}

.l-news-archive__inner--full {
  max-width: $layout-width-canvas + strip-unit($padding-pc) * 2;
  padding-left: $padding-sp;
  @include media(min, md) {
    padding-left: rem(60);
  }
}

.l-news-archive__list {
  margin-top: fluid-size(24, 32);
}

.l-news-archive__items {
  display: flex;
  flex-direction: column;
  gap: fluid-size(32, 40);
}
